<%- include('./layouts/header') -%>

<div class="content">
    <br>


    <h1 class="text-center border-bottom"> blockchain</h1>

    <div class="row"  id="blocksid">

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        getBlockchain();
    });

    function getBlockchain(){
        let blockchain = Communicator.getBlockchain();

        for (let i = 1; i<blockchain.length ; i++) {
            console.log(blockchain[i].previ);
            let div = document.createElement("div");
            div.setAttribute("class", "col-sm-6");

            div.innerHTML = `<div class="card card-nav-tabs">
                        <div class="card-body">
                            <h4 class="text-center">Block ${i} </h4>
                        <blockquote class="blockquote mb-0">
                            <h4> Hash :</h4>
                            <p id="hash"> ${blockchain[i].hash}</p>
                            <br>
                            <h4>Height :</h4>
                            <p id="height">  ${blockchain[i].height}</p>
                            <br>
                            <h4>Number of certificate:</h4>
                            <p id="numofcertificate">  ${blockchain[i].data.length}</p>
                            <br>
                            <h4>Previous block hash :</h4>
                            <p id="prehash"> ${blockchain[i].previousBlockHash}</p>
                        </blockquote>
                    </div>
                </div>`;

            document.getElementById("blocksid").appendChild(div);
        }
    }

</script>

<%- include('./layouts/footer') -%>