<%- include("./layouts/header") -%>



<div class="content">
    <br>


        <h1 class="text-center border-bottom"> MemPool</h1>


    <div class="row">
        
        <div class="card">

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Student id</th>
                        <th class="text-center">University</th>
                        <th class="text-center">Major</th>
                        <th class="text-center">Year</th>
                        <th class="text-center">Hash</th>
                    </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button onclick="mineBlock()" type="button" class="btn btn-primary btn-block">Mine</button>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        refreshMempool();
    });

    function refreshMempool() {
        let mempool = Communicator.getMempool();
        let i = 1;

        mempool.forEach(data => {

            let tr = document.createElement("tr");
            tr.innerHTML = `<td>${i++}</td>
            <td class="text-center">${data.name}</td>
            <td class="text-center">${data.ID}</td>
            <td class="text-center">${data.university}</td>
            <td class="text-center">${data.major}</td>
            <td class="text-center">${data.year}</td>
            <td class="text-center text-break">${data.hashOfCertificate}</td>`;
        
            document.getElementById("tbody").appendChild(tr);     
        });
    }
    
    function mineBlock() {
        let message = Communicator.mineBlock();
        if(message === "ok"){
            self.location['replace'](location);
            alert("Block Added To The Blockchain Successfully");
        } else{
            alert("certificates must exceed 5 to mine a new block");
        }
    }
</script> 

<%- include("./layouts/footer") -%>