<%- include('./layouts/header') -%>

<style>

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.square::-webkit-scrollbar-track {
border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
border-radius: 0 !important; }

.thin::-webkit-scrollbar {
width: 6px; }

.scrolly {
position: relative;
overflow-y: scroll;
height: 600px; }
</style>
<div class="content">
    <br>

    <h1 class="text-center border-bottom"> search for a block</h1>

    <div class="row">

        <div class="col-sm-6">
            <br>
            <br><br><br>
            <div class="card" id="search-button-hash">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">search by hash</label>
                            <input type="search" id="searchbyhash" class="form-control" aria-describedby="searchHelp"
                                placeholder="search by hash">
                        </div>
                    </form>
                    <button type="submit" onclick="searchbyhash()" class="btn btn-primary">search</button>
                </div>
            </div>
            <!-- <p id="or"><strong> OR</strong></p>
            <br>

            <div class="card" id="search-button-height">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">search by height</label>
                            <input type="search" id="searchbyheight" class="form-control" aria-describedby="searchHelp"
                                placeholder="search by height">
                        </div>

                    </form>
                    <button type="submit" onclick="searchbyheight()" class="btn btn-primary">search</button>
                </div>
            </div> -->
        </div>
        <div class="col-sm-6">

            <div class="card card-nav-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab"
                            aria-controls="info" aria-selected="true">Block Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data"
                            aria-selected="false">Block data</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">

                        <div class="card card-nav-tabs">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <h3> Hash :</h3>
                                    <p id="hash"> </p>
                                    <br>
                                    <h3>Height :</h3>
                                    <p id="height"> </p>
                                    <br>
                                    <h3>Previous block hash :</h3>
                                    <p id="prehash"></p>
                                </blockquote>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade"  id="data" role="tabpanel" aria-labelledby="data-tab">
                        <div id="block-data" class="card scrolly scrollbar-ripe-malinka">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function searchbyhash() {
        let hash = document.getElementById("searchbyhash").value;
        let block = Communicator.searchBlock(hash);

        if(block.data === undefined){
            alert("there is no block with this hash");
            
        } else {
            document.getElementById("hash").innerHTML = block.hash;
            document.getElementById("height").innerHTML = block.height;
            document.getElementById("prehash").innerHTML = block.previousHash;
            
            block.data.forEach(element => {

                let div = document.createElement("div");
                div.setAttribute("class", "card-body");
                div.innerHTML = `
                <blockquote class="blockquote mb-0">
                <h3> ID :</h3>
                <p id="dataid"> ${element.ID}</p>
                <br>
                <h3>Hash of certificate :</h3>
                <p id="datahash"> ${element.hashOfCertificate}</p>
                <br>
                <h3> name:</h3>
                <p id="dataname"> ${element.name}</p>
                <br>
                <h3>major :</h3>
                <p id="datayear"> ${element.major}</p>
                <br>
                <h3>university :</h3>
                <p id="datayear"> ${element.university}</p>
                <br>
                <h3>year :</h3>
                <p id="datayear"> ${element.year}</p>
                <br>
                <div class="dropdown-divider"></div>
                </blockquote>`;

                
                document.getElementById("block-data").appendChild(div);
            });
        }
    }
</script>
<%- include('./layouts/footer') -%>